* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
}

a:visited {
  color: inherit;
}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
}

body {
  background: rgb(156, 97, 204);
  background: linear-gradient(0deg, rgba(156, 97, 204, 1) 33%, rgba(110, 148, 223, 1) 100%);
  max-width: 800px;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin: 0 auto;
}

header#global_header {
  text-align: center;
  margin-top: 1rem;
  display: flex;
  padding: 0 0.5rem;
}

header #global_header #btn_menu {
  align-items: center;
}

header#global_header h1 {
  font-size: 3rem;
  width: 100%;
}

header#global_header #btn_menu:hover {
  cursor: pointer;
}

aside#global_menu {
  position: absolute;
  float: left;
  top: 0;
  z-index: 1000;
  height: 100vh;
  min-width: 300px;
  background-color: #1f468c;
  transition: visibility 0.5s linear, opacity 0.5s linear;
  visibility: hidden;
  opacity: 0;
  padding: 1rem;
}

aside#global_menu ul {
  margin-top: 1rem;
  list-style-type: none;
}

aside#global_menu h3 {
  text-align: center;
  font-size: 2rem;
}

aside#global_menu ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

aside#global_menu.opened {
  visibility: visible;
  opacity: 1;
}

main#global_main {
  position: relative;
  width: 100%;
  height: 100%;
}

#srm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 2%;
}

#srm .linha {
  height: 3px;
  width: 98%;
  background-color: grey;
  margin: 2%;
}

#srm .botoes {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 15px 0;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bdd3f3;
  color: black;
  border: none;
  min-width: 150px;
  min-height: 50px;
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  background-color: #1a0891;
  color: white
}

#srm .imagem {
  max-width: 300px;
  max-height: 300px
}

#srm .texto {
  padding: 10px;
}

#srm .texto h2 {
  margin-bottom: 5px;
}

#srm .texto p {
  text-indent: 40px;
  text-align: justify;
}

#srm ul li {
  margin: 0 2% 2% 2%;
  text-align: justify;
}

#srm #pergunta {
  margin: 2% 0;
}

#srm #pergunta #enunciado {
  margin-bottom: 2%;
  text-align: justify;
}

#srm #pergunta #alternativas {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

#srm #pergunta #alternativas .alternativa {
  padding: 0.5%;
}

#srm #pergunta .verde {
  background-color: green;
}

#srm #pergunta .vermelho {
  background-color: red;
}

footer#global_footer {
  background: rgb(156, 97, 204);
  position: sticky;
  bottom: 0px;
  margin-bottom: 0px;
  padding: 10px 10px 10px 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

footer#global_footer img,
header#global_header img,
aside#global_menu img {
  width: 2rem;
  height: 2rem;
  position: relative;
  z-index: 1001;
}

#corrigir {
  display: flex;
  justify-content: center;
  align-items: center;
}

#corrigir button {
  background-color: #839ea8;
  border: none;
  min-width: 150px;
  min-height: 50px;
  border-radius: 15px;
  cursor: pointer;
}

#corrigir button:hover {
  background-color: #097ba4;
  color: white
}