body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(163, 170, 249);
}

.slide {
  display: none;
}

.slide.ativo {
  display: block;
  margin-left: 25%;
}

#balao {
  display: flex;
  align-items: center;
  padding: 20px;
  border: 2px blue solid;
  border-radius: 20px;
  width: 200px;
  position: relative;
  height: 160px;
  text-align: justify;
}

#balao::after {
  content: "";
  width: 25px;
  height: 25px;
  background-color: rgba(163, 170, 249);
  border-top: 0;
  border: 2px solid;
  border-color: transparent blue blue transparent;
  position: absolute;
  display: block;
  transform: rotate(45deg);
  bottom: -15px;
  left: 30%;
  margin: 0;
}

#mascote {
  left: 100px;
}

#romulo {
  width: 250px;
  height: 250px;
}

a {
  text-decoration: none;
}

footer button{
  justify-content: center;
  align-items: center;
  background-color: #bdd3f3;
  color: black;
  border: none;
  min-width: 150px;
  min-height: 50px;
  border-radius: 15px;
  cursor: pointer;
}

footer button:hover {
  background-color: #1a0891;
  color: white;
}